<template>
    <div>
        <my-title title="Dashboard"></my-title>
        
        <my-info user="9" category="6" menu="36" order="322"></my-info>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-list-alt fa-lg d-inline-block mr-2"></i>
                        <h5 class="m-0 d-inline-block">Category</h5>
                    </div>
                    <div class="card-body py-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0">Cras justo odio</li>
                            <li class="list-group-item px-0">Dapibus ac facilisis in</li>
                            <li class="list-group-item px-0">Morbi leo risus</li>
                            <li class="list-group-item px-0">Porta ac consectetur ac</li>
                            <li class="list-group-item px-0">Vestibulum at eros</li>
                            <li class="list-group-item px-0">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>
