<template>
    <div>

        <div class="row mb-3">
            <div class="col-lg-3 col-md-6 mb-2">
                <div class="card bg-danger text-white">
                    <div class="card-body text-center">
                        <div class="icon-wrapper pr-2">
                            <i class="fa fa-list-alt fa-large"></i>
                        </div>
                        <div class="info-text pl-2">
                            <h4 class="m-0">{{ category }} Category</h4>
                            <small class="d-block">
                                <i>Aktif</i>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <div class="card bg-warning text-white">
                    <div class="card-body text-center">
                        <div class="icon-wrapper pr-2">
                            <i class="fa fa-bars fa-large"></i>
                        </div>
                        <div class="info-text pl-2">
                            <h4 class="m-0">{{ menu }} Menu</h4>
                            <small class="d-block">
                                <i>Pilihan</i>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <div class="card bg-primary text-white">
                    <div class="card-body text-center">
                        <div class="icon-wrapper pr-2">
                            <i class="fa fa-user fa-large"></i>
                        </div>
                        <div class="info-text pl-2">
                            <h4 class="m-0">{{ user }} User</h4>
                            <small class="d-block">
                                <i>Aktif</i>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <div class="card bg-success text-white">
                    <div class="card-body text-center">
                        <div class="icon-wrapper pr-2">
                            <i class="fa fa-shopping-cart fa-large"></i>
                        </div>
                        <div class="info-text pl-2">
                            <h4 class="m-0">{{ order }} Order</h4>
                            <small class="d-block">
                                <i>Terselesaikan</i>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    props: {
        user: String,
        category: String,
        menu: String,
        order: String,
    }
}
</script>

<style>
hr{
    margin: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}
.icon-wrapper{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
}
.fa-large{
    font-size: 48px;
}
.info-text{
    display: inline-block;
    vertical-align: middle;
}
</style>
