<template>
    <div>
        <div class="row mb-3 bg-white">
            <div class="col-lg-12 py-2 shadow-sm">
                <span class="display-4">{{ title }}</span>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    props: {
        title: String
    }
}
</script>