<template>
    <div>

        <template v-if="!currentUser">
            <router-view></router-view>
        </template>

        <template v-else>
            <my-header></my-header>
            <my-sidebar></my-sidebar>
            <div class="my-content">
                <div class="container">
                    <router-view></router-view>
                </div>
            </div>
        </template>
        
    </div>
</template>

<script>
import Header from '../components/layout/Header.vue';
import Sidebar from '../components/layout/Sidebar.vue';

export default {
    components: {
        'my-header' : Header,
        'my-sidebar' : Sidebar
    },
    computed: {
        currentUser(){
            return this.$store.getters.currentUser;
        }
    }
}
</script>

<style scoped>
@media (min-width: 320px) {
    .my-content{
        padding-top: 100px;
        margin-left: 0;
    }
}
@media (min-width: 720px) {
    .my-content{
        padding-top: 56px;
        margin-left: 30%;
    }
}
@media (min-width: 1024px) {
    .my-content{
        padding-top: 56px;
        margin-left: 20%;
    }
}

</style>
