<template>
    <div>
        <nav class="navbar my-navbar navbar-dark bg-dark clearfix">
            <div class="my-nav-left pl-3">
                <a href="#" class="d-block py-2 h4 m-0 text-white">
                    App CakSeno
                </a>
            </div>
            <div class="my-nav-right">
                <button 
                    class="navbar-toggler d-inline-block d-sm-none"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarToggleExternalContent"
                    aria-controls="navbarToggleExternalContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="my-menu d-inline-block">
                    <a class="my-menu-item text-white">
                        <i class="fa fa-user mr-2"></i>
                        {{ currentUser.name }}
                    </a>
                    <div class="dropdown my-dropdown">
                        <a class="my-menu-item" id="dropdownMenu2" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                        </a>
                        <div class="dropdown-menu my-dropdown-menu shadow" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>
                    <div class="dropdown my-dropdown">
                        <a class="my-menu-item" id="dropdownMenu2" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </a>
                        <div class="dropdown-menu my-dropdown-menu menu-user-option shadow" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item">{{ currentUser.name }}</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item">User Setting</button>
                            <a href="#" class="dropdown-item" @click.prevent="logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    methods: {
        logout(){
            this.$store.commit('logout');
            this.$router.push({ path: '/login' });
        }
    },
    computed: {
        currentUser(){
            return this.$store.getters.currentUser;
        }
    }
}
</script>

<style scoped>
.navbar-toggler{
    font-size: 1rem !important;
    padding: 0.125rem 0.5rem;
    margin-top: 3px;
}
.my-navbar{
    padding: 0 !important;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.my-nav-left{
    width: 20%;
    float: left;
}
.my-nav-right{
    width: 80%;
    float: right;
}

@media (min-width:320px) {
    .my-dropdown{
        display: inline-block !important;
    }
    .my-dropdown-menu{
        left: unset;
        border: 0px;
        border-top: 5px solid #09f;
        width: 300px;
        border-radius: 0px;
        right: 0 !important;
        margin: 10px 0 0 0 !important;
        text-align: left;
    }
    .menu-user-option{
        width: 150px;
    }
    .my-menu{
        float: right;
        display: inline-block;
    }
    .my-menu-item{
        display: inline-block;
        padding: 6px 10px;
        background-color: rgba(255, 255, 255, 0.2);
        text-align: center;
    }
    .my-menu-item i{
        color: #fff;
        width: 15px;
        height: 15px;
    }
    .my-nav-left{
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        text-align: center;
    }
    .my-nav-right{
        width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width:720px) {
    .my-nav-left{
        width: 25%;
    }
    .my-nav-right{
        width: 75%;
    }
}

@media (min-width:1024px) {
    .my-nav-left{
        padding-right: 0;
        padding-left: 25px;
        width: 18%;
    }
    .my-nav-right{
        width: 82%;
    }
}
</style>
