<template>
    <div>
        <div class="my-sidebar shadow collapse show in d-none d-sm-block">
            <div class="container-avatar">
                <div class="avatar">
                    <img :src="'http://localhost:8000/aa.png'" alt="">
                </div>
                <div class="avatar-text">
                    <h5 class="m-0 d-block">Administrator</h5>
                    <small class="d-block">Administrator</small>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12">
                    <ul class="list-group list-group-flush">
                        <router-link :to="{ name: 'home' }" class="list-group-item list-group-item-action">
                            <i class="fa fa-home mr-2"></i>
                            Dashboard
                        </router-link>
                        <router-link :to="{ name: 'role' }" class="list-group-item list-group-item-action">
                            <i class="fa fa-dice mr-2"></i>
                            Role
                        </router-link>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="fa fa-users mr-2"></i>
                            User
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="fa fa-list-alt mr-2"></i>
                            Category
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="fa fa-bars mr-2"></i>
                            Menu
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="fa fa-shopping-cart mr-2"></i>
                            Order
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-block d-sm-none">
            <div class="my-sidebar shadow collapse" id="navbarToggleExternalContent">
                <div class="container-avatar">
                    <div class="avatar">
                        <img :src="'aa.png'" alt="">
                    </div>
                    <div class="avatar-text">
                        <h5 class="m-0 d-block">Administrator</h5>
                        <small class="d-block">Administrator</small>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12">
                        <ul class="list-group list-group-flush">
                            <router-link :to="{ name: 'home' }" class="list-group-item list-group-item-action">
                                <i class="fa fa-home mr-2"></i>
                                Dashboard
                            </router-link>
                            <router-link :to="{ name: 'role' }" class="list-group-item list-group-item-action">
                                <i class="fa fa-dice mr-2"></i>
                                Role
                            </router-link>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="fa fa-users mr-2"></i>
                                User
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="fa fa-list-alt mr-2"></i>
                                Category
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="fa fa-bars mr-2"></i>
                                Menu
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="fa fa-shopping-cart mr-2"></i>
                                Order
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
.list-group-item i{
    width: 16px;
}
.container-avatar{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    padding: 15px 25px;
    background-color: #343a40;
}
.avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.avatar-text{
    vertical-align: middle;
    display: inline-block;
    padding: 0 15px;
    color: #ffffff;
}
.avatar img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
@media (min-width: 320px) {
    .my-sidebar{
        /* height: calc(100vh - 100px); */
        position: absolute;
        top: 100px;
        width: 100%;
        background-color: #ffffff;
        z-index: 1000;
        border-top: 1px solid #64686c
    }
}
@media (min-width: 720px) {
    .my-sidebar{
        height: calc(100vh - 57px);
        position: fixed;
        top: 56px;
        width: 30%;
        background-color: #ffffff;
        z-index: 1000;
        border-top: 1px solid #64686c
    }
    .container-avatar{
        padding: 15px 15px;
    }
    .avatar-text{
        vertical-align: middle;
        display: inline-block;
        padding: 0 0 0 10px;
    }
}
@media (min-width: 1024px) {
    .my-sidebar{
        height: calc(100vh - 57px);
        position: fixed;
        top: 56px;
        width: 20%;
        background-color: #ffffff;
        z-index: 1000;
        overflow-y: auto;
        border-top: 1px solid #64686c
    }
    .container-avatar{
        padding: 15px 10px;
    }
    .avatar-text{
        vertical-align: middle;
        display: inline-block;
        padding: 0 0 0 5px;
    }
}
</style>

