<template>
    <div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-2 col-1 text-center">
                    <div class="wrapper"></div>
                </div>
                <div class="col-lg-4 col-md-8 col-10 text-center pb-5 pt-3">
                    <div class="row pb-3">
                        <div class="col-lg-12">
                            <h1 class="d-block m-0">Aplikasine</h1>
                            <h2 class="d-block">Cak Seno</h2>
                        </div>
                    </div>
                    <template v-if="authError">
                        <div class="row mb-2">
                            <div class="col-lg-12 alert alert-danger alert-dismissible fade show" role="alert">
                                <strong class="d-block">Login Error</strong>
                                <p class="m-0">
                                    {{ authError }}
                                </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </template>
                    <form class="row form" @submit.prevent="authenticate">
                        <input 
                            class="col-lg-12 form-control mb-2"
                            type="email"
                            v-model="form.email"
                            placeholder="Email"
                            required
                        >
                        <input
                            class="col-lg-12 form-control mb-3"
                            type="password"
                            v-model="form.password"
                            placeholder="Password"
                            required
                        >
                        <input
                            class="col-lg-12 btn btn-outline-primary"
                            type="submit"
                            name="submit"
                            value="Login"
                        >
                    </form>
                </div>
                <div class="col-lg-4 col-md-2 col-1 text-center">
                    <div class="wrapper"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        login
    } from '../../helpers/auth';

    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                error: null
            }
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');

                login(this.$data.form)
                    .then((res) => {
                        this.$store.commit('loginSuccess', res);
                        this.$router.push({
                            path: '/'
                        });
                    })
                    .catch((error) => {
                        this.$store.commit('loginFailed', {
                            error
                        });
                    });
            }
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        }
    }
</script>

<style scoped>
    .wrapper {
        height: 100vh;
    }
</style>